# Remove local copies of data
data
output
scratch
results
__pycache__
run.log
*.egg-info
sample_scripts

# Remove stuff that I used for local experimentation lol
playground.ipynb
.ipynb_checkpoints
scratch.py

# Local junk
*desktop.ini*
.vscode
*.austin
sample_script.bat
.pytest_cache
